$main-yellow-color: rgb(252, 227, 0);
$text-color-white: white;
$nav-color: rgba(108, 107, 107, 0.6);
$text-color-grey: rgb(135, 135, 135);

$fz-big-phone: 30px;
$fz-big: 50px;

$fz-title: 22px;

$fz-text: 14px;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
