<section>
  <div class="above-sea">
    <img src="../src/img/above-the-sea.jpg" alt="picture sea" />
    <div class="above-sea_description">
      <h2 class="above-sea_title">Above the sea</h2>
      <h3 class="above-sea_sub-title">
        " Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam,
        praesentium reiciendis veritatis fuga commodi obcaecati possimus
        reiciendis "
      </h3>
      <p class="above-sea_text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
        suscipit sed blanditiis neque voluptates, voluptatum, eaque magnam
        quidem recusandae cum reiciendis tempore dignissimos laudantium quia
        fuga sequi nam ullam omnis?
      </p>
      <p class="above-sea_text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae tenetur
        vitae assumenda, est odit iure pariatur autem totam esse quae possimus,
        consectetur laboriosam necessitatibus, id vero aut dolorum. vitae
        assumenda, est odit iure pariatur autem totam esse quae possimus,
        consectetur laboriosam necessitatibus, id vero aut dolorum.
      </p>
      <div class="above-sea_btn-wrap">
        <button class="btn">Read More</button>
      </div>
    </div>
  </div>
</section>
