<section class="section">
  <div class="featured" id="recommendation">
    <div class="featured_description container">
      <h2 class="featured_title">
        Featured <br />
        Sports
      </h2>
      <p class="featured_text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, ratione.
      </p>
      <p class="featured_text">Viev all</p>
    </div>
    <div class="overflow-hid">
      <div class="swiper-2" id="swiper-2">
        <div class="swiper-wrapper" slides-per-view="3">
          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-5.jpg" />
            </div>
            <div class="cards-description">
              <h3 class="cards-description_title">Ollantaytambo</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-2.jpg" />
            </div>
            <div class="card_description">
              <h3 class="cards-description_title">Antelope</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-3.jpg" />
            </div>
            <div class="card_description">
              <h3 class="cards-description_title">Lake Louise</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-1.jpg" />
            </div>
            <div class="card_description">
              <h3 class="cards-description_title">Lorem, ipsum.</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-4.jpg" />
            </div>
            <div class="card_description">
              <h3 class="cards-description_title">Lorem, ipsum.</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card">
              <img src="../src/img/slide-5.jpg" />
            </div>
            <div class="card_description">
              <h3 class="cards-description_title">Lorem, ipsum.</h3>
              <p class="cards-description_title-gray">Lorem.</p>
              <p class="cards-description_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Repellendus, necessitatibus.
              </p>
              <a class="cards-description_text-more" href="">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-bottom-pagination container">
    <div class="wrap-bottom-text modif-wrap">
      <p class="bottom-text">Outdoors Edition</p>
      <hr class="line" />
      <div class="pagination pagination-container">
        <div class="swiper-pagination-card"></div>
      </div>
      <hr class="line-last" />
    </div>
  </div>
</section>
