<section class="section-wrap">
  <header class="header">
    <div>
      <div class="header_wrap">
        <div class="logo-background">
          <p class="logo">trppd _</p>
        </div>
        <div class="description black-dot">
          <p class="text">My Collection</p>
          <p class="vertical-line">|</p>
          <p class="text">Galih pambudi</p>
        </div>
      </div>
      <button type="button" class="burger-btn" data-menu-open>
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
          <path
            d="M4 18L20 18"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M4 12L20 12"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M4 6L20 6"
            stroke="#000000"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>

      <div class="burger-menu" data-menu>
        <div>
          <button type="button" class="burger-menu__button" data-menu-close>
            <svg
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 460.775 460.775"
              xml:space="preserve"
            >
              <path
                d="M285.08,230.397L456.218,59.27c6.076-6.077,6.076-15.911,0-21.986L423.511,4.565c-2.913-2.911-6.866-4.55-10.992-4.55
         c-4.127,0-8.08,1.639-10.993,4.55l-171.138,171.14L59.25,4.565c-2.913-2.911-6.866-4.55-10.993-4.55
         c-4.126,0-8.08,1.639-10.992,4.55L4.558,37.284c-6.077,6.075-6.077,15.909,0,21.986l171.138,171.128L4.575,401.505
         c-6.074,6.077-6.074,15.911,0,21.986l32.709,32.719c2.911,2.911,6.865,4.55,10.992,4.55c4.127,0,8.08-1.639,10.994-4.55
         l171.117-171.12l171.118,171.12c2.913,2.911,6.866,4.55,10.993,4.55c4.128,0,8.081-1.639,10.992-4.55l32.709-32.719
         c6.074-6.075,6.074-15.909,0-21.986L285.08,230.397z"
              />
            </svg>
          </button>
        </div>
        <nav class="header_navigation">
          <ul class="menu-list">
            <li class="menu-item active">
              <a href="#" class="menu-link"> Home </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link"> Recommendation </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link"> Explore </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link"> Help </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link"> About us </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</section>
