<section>
  <div class="swiper-1" id="swiper-1">
    <div class="swiper-wrapper" slides-per-view="1">
      <div class="swiper-slide">
        <div class="description-wrap" hero>
          <h2 class="hero-text">The Walchen Lacke</h2>

          <p class="hero-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="hero-btn">
            <button class="btn">Read More</button>
          </div>
        </div>
        <div class="dark">
          <img src="../src/img/slide-1.jpg" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="description-wrap" hero>
          <h2 class="hero-text">The Walchen Lacke</h2>

          <p class="hero-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="dark">
          <img src="../src/img/slide-2.jpg" />
        </div>
      </div>

      <div class="swiper-slide">
        <div class="description-wrap" hero>
          <h2 class="hero-text">The Walchen Lacke</h2>

          <p class="hero-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="dark">
          <img src="../src/img/slide-3.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="description-wrap" hero>
          <h2 class="hero-text">The Walchen Lacke</h2>

          <p class="hero-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="dark">
          <img src="../src/img/slide-4.jpg" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="description-wrap" hero>
          <h2 class="hero-text">The Walchen Lacke</h2>

          <p class="hero-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
            voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
        <div class="dark">
          <img src="../src/img/slide-5.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-img-nav">
    <div class="btn-wrap">
      <div class="swiper-custom-nuv" id="left">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="Outline"
          viewBox="0 0 24 24"
          width="20"
          height="20"
        >
          <path
            d="M17.17,24a1,1,0,0,1-.71-.29L8.29,15.54a5,5,0,0,1,0-7.08L16.46.29a1,1,0,1,1,1.42,1.42L9.71,9.88a3,3,0,0,0,0,4.24l8.17,8.17a1,1,0,0,1,0,1.42A1,1,0,0,1,17.17,24Z"
          />
        </svg>
      </div>
      <div class="swiper-custom-nuv" id="right">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="Outline"
          viewBox="0 0 24 24"
          width="20"
          height="20"
        >
          <path
            d="M7,24a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42l8.17-8.17a3,3,0,0,0,0-4.24L6.29,1.71A1,1,0,0,1,7.71.29l8.17,8.17a5,5,0,0,1,0,7.08L7.71,23.71A1,1,0,0,1,7,24Z"
          />
        </svg>
      </div>
    </div>
    <div class="wrap-bottom-text">
      <p class="bottom-text">Outdoors Edition</p>

      <hr class="line" />
      <div class="pagination">
        <div class="swiper-pagination"></div>
      </div>

      <hr class="line-last" />
    </div>
  </div>
</section>
