<section class="section">
  <div class="pick">
    <div class="pick_description">
      <h2 class="pick_title">
        Editor's <br />
        Pick
      </h2>
      <div class="pick_wrap-text">
        <p class="pick_text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque
          aperiam culpa, optio nihil consectetur illum
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="your-class">
      <div>your content</div>
      <div>your content</div>
      <div>your content</div>
    </div>
  </div>
</section>
