.featured {
  display: flex;

  &_description {
    text-align: end;
  }
  &_title {
    font-size: $fz-title;
    color: $text-color-white;
    line-height: 1.16;
    width: 270px;
  }
  &_text {
    margin-top: 25px;
    color: $text-color-white;
    font-size: $fz-text;
    width: 200px;
    margin-left: auto;
  }
  &_text:last-child {
    margin-top: 70px;
  }
}
.overflow-hid {
  overflow: hidden;

  margin: 90px 90px 0 90px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  &_title {
    margin-top: 40px;
    font-size: $fz-title;
    color: $text-color-white;
    line-height: 1.16;
  }
  &_title-gray {
    color: $text-color-grey;
    font-size: 20px;
  }
  &_text {
    margin: 30px 0;
    font-size: $fz-text;
    color: $text-color-white;
  }
  &_text-more {
    font-size: $fz-text;
    color: $main-yellow-color;
  }
}
.featured-bottom-pagination {
  display: flex;
}
.pagination-container {
  width: 50px;
}
.modif-wrap {
  margin: 0;
}
.card {
  height: 300px;
}
