.section-wrap {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 800px;
}

.header {
  &_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.logo-background {
  width: 350px;
  background-color: $main-yellow-color;
  height: 90px;
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 25px;
  margin-left: 45px;
}
.description {
  display: flex;
  margin-right: 90px;
}

.vertical-line {
  margin: 0 30px;
  color: $text-color-white;
}

.text {
  font-weight: 500;
  color: $text-color-white;
}
.black-dot::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  margin-left: 40px;
}
.menu-list {
  margin-top: 60px;
}
.menu-item {
  color: $text-color-grey;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  margin-left: 40px;
}
.menu-item:not(last-child) {
  margin-bottom: 20px;
}

.active {
  color: $text-color-white;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $text-color-white;
    top: 50%;
    margin-left: 65px;
  }
}
.burger-menu {
  background-color: rgb(37, 37, 37, 0.6);
  transform: translateX(-100%);
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__button {
    background-color: transparent;
    fill: white;
    border: none;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    margin: 5px;
  }
}

.burger-menu.is-open {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-btn {
  border: none;
  height: 30px;
  width: 40px;
  right: 0;
  margin: 5px;
  border-radius: 5px;
}
.burger-btn.hidden {
  display: none;
}
